.cover-block {
    height: 500px;
    display: flex;
    flex: 1;
    background-color:white;
    position: relative;
    margin-top: 70px;
}
.cover-img {
    width: 100%;
    object-fit:fill;   
}
.cover-tag {
    font-family: Oswald;
    color: white;
    position: absolute;
    right: 7%;
    font-size:80px;
}
@media (max-width: 770px) {
    .cover-block {
        position: relative;
        margin-top: 0;
    }
    .cover-tag {
        font-family: Oswald;
        color: white;
        right: 1%;
        top: 28%; 
        font-size: 40px;
        position: absolute;
        text-align: center;
    }
    .cover-img{
        height: auto;
    }
}
